/* .table-responsive{
    height: 110rem;
} */

.password{
    width: 40%;
}
.button_value{
    width: 100%;
}
.update{
margin-left: 25%;
}

@media (min-width:1024px) {
    .mod_12{
        display: flex;
    }
}